sysroot
testing
build/**
build 
build/
test/
tmp/
bin/**
tmp2/
*.img
oom
**/__pycache__/**
__pycache__/**
a.out
.ipynb_checkpoints/
.vscode/
.zed/
pw-testdir/
README.md
pw-testdir
WAYLAND.txt
.gitignore
target/
.^.txt
*.log
*.ipynb

*
!nickellib/
!nickellib/**
!pkgs/
!pkgs/**
!distro/
!distro/**
!builder/
!builder/**
# !bin/
# !bin/**
!container/
!container/**
!scripts/
!scripts/**
!parse.py
!README.md
# !*.md
**/__pycache__/**
__pycache__/**
pkgs/g/gamescope/chimera-mutex.patch
nickellib/commonBiDrvs.ncl
nickellib/dups.ncl
nickellib/commonBiDrvs.ncl
.gitignore
scripts/qemu.py
