
module desktop 1.0;
require {
	type bin_t;
	type i2c_device_t;
	type sysfs_t;
	type systemd_sessions_runtime_t;
	type udev_t;
	type systemd_logind_t;
	type system_dbusd_t;
	type systemd_locale_exec_t;
	type NetworkManager_var_lib_t;
	type mount_t;
	class dir { getattr mounton relabelfrom search };
	class chr_file { getattr setattr };
	class file map;
}

#============= systemd_logind_t ==============
allow systemd_logind_t bin_t:dir getattr;
allow systemd_logind_t i2c_device_t:chr_file { getattr setattr };
allow systemd_logind_t sysfs_t:dir { mounton relabelfrom };

#============= udev_t ==============
allow udev_t systemd_sessions_runtime_t:dir search;



#============= mount_t ==============
allow mount_t NetworkManager_var_lib_t:file map;

#============= system_dbusd_t ==============
allow system_dbusd_t systemd_locale_exec_t:file map;


require {
	type init_t;
	type geoclue_t;
	class fd use;
}

#============= geoclue_t ==============
allow geoclue_t init_t:fd use;


### upower:
require {
	type mount_t;
	type devicekit_var_lib_t;
	class dir { rmdir setattr };
}

#============= mount_t ==============
allow mount_t devicekit_var_lib_t:dir { rmdir setattr };

