
module desktop 1.0;
require {
	type bin_t;
	type i2c_device_t;
	type sysfs_t;
	type systemd_sessions_runtime_t;
	type udev_t;
	type systemd_logind_t;
	class dir { getattr mounton relabelfrom search };
	class chr_file getattr;
}

#============= systemd_logind_t ==============
allow systemd_logind_t bin_t:dir getattr;
allow systemd_logind_t i2c_device_t:chr_file getattr;
allow systemd_logind_t sysfs_t:dir { mounton relabelfrom };

#============= udev_t ==============
allow udev_t systemd_sessions_runtime_t:dir search;



require {
	type NetworkManager_var_lib_t;
	type mount_t;
	class file map;
}

#============= mount_t ==============
allow mount_t NetworkManager_var_lib_t:file map;

