policy_module(crypto_pam, 1.0.0)

########################################
#
# Declarations
#

type crypto_pam_t;
type crypto_pam_exec_t;
init_daemon_domain(crypto_pam_t, crypto_pam_exec_t)

permissive crypto_pam_t;

########################################
#
# crypto_pam local policy
#
allow crypto_pam_t self:fifo_file rw_fifo_file_perms;
allow crypto_pam_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(crypto_pam_t)

files_read_etc_files(crypto_pam_t)

miscfiles_read_localization(crypto_pam_t)


require {
	type chkpwd_t;
	type getty_t;
	type init_t;
	type local_login_t;
	type tty_device_t;
	type var_log_t;
	type xserver_log_t;
    class chr_file { read write };
	class file append;
	class process { noatsecure rlimitinh siginh };
	class unix_dgram_socket sendto;
}



#============= chkpwd_t ==============
allow chkpwd_t tty_device_t:chr_file { read write };

#============= getty_t ==============
allow getty_t local_login_t:process { noatsecure rlimitinh siginh };

#============= local_login_t ==============
allow local_login_t chkpwd_t:process { noatsecure rlimitinh siginh };
allow local_login_t init_t:unix_dgram_socket sendto;
allow local_login_t var_log_t:file append;
allow local_login_t xserver_log_t:file append;


require {
	type sysfs_t;
	type bin_t;
	type local_login_t;
	type gkeyringd_exec_t;
	type crypto_pam_exec_t;
	type devpts_t;
	type sysadm_t;
	type xdg_config_t;
	type xserver_log_t;
	type init_t;
	type chkpwd_t;
	type default_t;
	type unconfined_t;
	type debugfs_t;
	type xdm_var_run_t;
	type kernel_t;
	class filesystem associate;
	class system firmware_load;
	class file { entrypoint execute execute_no_trans getattr map open read };
	class unix_dgram_socket sendto;
	class dir { getattr watch };
	class process getsched;
}

#============= chkpwd_t ==============
allow chkpwd_t init_t:unix_dgram_socket sendto;
allow chkpwd_t xdm_var_run_t:file { open read };

#============= debugfs_t ==============
allow debugfs_t sysfs_t:filesystem associate;

#============= kernel_t ==============
allow kernel_t self:system firmware_load;

#============= local_login_t ==============
allow local_login_t bin_t:file { execute execute_no_trans map };
allow local_login_t crypto_pam_exec_t:file { execute execute_no_trans };
allow local_login_t default_t:dir getattr;
allow local_login_t devpts_t:dir getattr;
allow local_login_t self:process getsched;
allow local_login_t xdm_var_run_t:file getattr;
allow local_login_t xserver_log_t:file open;

#============= sysadm_t ==============
allow sysadm_t xdg_config_t:dir watch;

#============= unconfined_t ==============
allow unconfined_t gkeyringd_exec_t:file entrypoint;

require {
	type local_login_t;
	type var_log_t;
	class dir write;
}

#============= local_login_t ==============
allow local_login_t var_log_t:dir write;
require {
	type setfiles_t;
	type mount_t;
	type device_t;
	type mount_runtime_t;
	type kmod_t;
	type var_run_t;
	type init_runtime_t;
	type tmp_t;
	type tmpfs_t;
	class chr_file { append read unlink };
	class dir { relabelfrom setattr write };
	class file append;
	class lnk_file getattr;
}

#============= kmod_t ==============
allow kmod_t init_runtime_t:file append;

#============= mount_t ==============
allow mount_t device_t:chr_file { append read };
allow mount_t init_runtime_t:file append;
allow mount_t mount_runtime_t:chr_file unlink;
allow mount_t tmp_t:lnk_file getattr;
allow mount_t tmpfs_t:dir write;
allow mount_t var_run_t:dir { relabelfrom setattr };

#============= setfiles_t ==============
allow setfiles_t init_runtime_t:file append;


require {
	type var_log_t;
	type tmpfs_t;
	type var_t;
	type kmod_t;
	type mount_t;
	type var_lib_t;
	type device_t;
	type init_runtime_t;
	class chr_file ioctl;
	class dir { add_name create relabelto };
	class file getattr;
}

#============= kmod_t ==============
allow kmod_t init_runtime_t:file getattr;

#============= mount_t ==============
allow mount_t device_t:chr_file ioctl;
allow mount_t tmpfs_t:dir add_name;
allow mount_t var_lib_t:dir create;
allow mount_t var_log_t:dir create;
allow mount_t var_t:dir relabelto;



require {
	type tmpfs_t;
	type init_runtime_t;
	type var_t;
	type setfiles_t;
	type mount_t;
	class dir { create setattr };
	class file ioctl;
}

#============= mount_t ==============
allow mount_t tmpfs_t:dir create;
allow mount_t var_t:dir setattr;

#============= setfiles_t ==============
allow setfiles_t init_runtime_t:file ioctl;

require {
	type var_lib_t;
	type mount_t;
	type var_log_t;
	class dir { rmdir setattr };
}

#============= mount_t ==============
allow mount_t var_lib_t:dir { rmdir setattr };
allow mount_t var_log_t:dir { rmdir setattr };


require {
	type var_t;
	type mount_t;
	class dir write;
}

#============= mount_t ==============
allow mount_t var_t:dir write;


#####
require {
	type NetworkManager_etc_rw_t;
	type NetworkManager_etc_t;
	type NetworkManager_var_lib_t;
	type power_profilesd_t;
	type policykit_t;
	type NetworkManager_t;
	type bluetooth_t;
	type loadkeys_t;
	type rtkit_daemon_t;
	type ssh_keygen_t;
	type cert_t;
	type security_t;
	type selinux_config_t;
	type sshd_t;
	type unlabeled_t;
	type system_dbusd_t;
	type systemd_logind_t;
	type sysctl_vm_t;
	type sysfs_t;
	type var_run_t;
	type usr_t;
	type udev_t;
	type boot_t;
	type cgroup_t;
	type proc_psi_t;
	type systemd_machined_runtime_t;
	type systemd_logind_exec_t;
	type event_device_t;
	class dbus send_msg;
	class file { create getattr ioctl open read unlink write };
	class capability sys_admin;

}

#============= NetworkManager_t ==============
allow NetworkManager_t NetworkManager_etc_rw_t:lnk_file read;
allow NetworkManager_t NetworkManager_etc_t:file map;
allow NetworkManager_t NetworkManager_var_lib_t:dir { watch watch_reads };
allow NetworkManager_t usr_t:file { execute execute_no_trans };
allow NetworkManager_t var_log_t:file { append ioctl };
allow NetworkManager_t var_run_t:dir watch;
# for polkit auth:
allow NetworkManager_t self:capability sys_admin;

#============= bluetooth_t ==============
allow bluetooth_t init_t:dbus send_msg;
allow bluetooth_t var_log_t:file append;

#============= loadkeys_t ==============
allow loadkeys_t self:process getsched;

#============= mount_t ==============
allow mount_t NetworkManager_var_lib_t:dir { add_name create remove_name rename reparent setattr write };
allow mount_t NetworkManager_var_lib_t:file { create rename setattr unlink write };
allow mount_t var_lib_t:dir { add_name rename reparent write };
allow mount_t var_log_t:dir { add_name rename reparent write };
allow mount_t var_log_t:file { append create setattr write };
allow mount_t var_t:dir add_name;
allow mount_t xserver_log_t:file { append create };

#============= policykit_t ==============
allow policykit_t var_log_t:file append;

#============= power_profilesd_t ==============
allow power_profilesd_t init_t:dbus send_msg;
allow power_profilesd_t var_log_t:file { append ioctl };

#============= rtkit_daemon_t ==============
allow rtkit_daemon_t var_log_t:file append;

#============= ssh_keygen_t ==============

#!!!! This avc can be allowed using the boolean 'authlogin_nsswitch_use_ldap'
allow ssh_keygen_t cert_t:dir search;

#!!!! This avc can be allowed using the boolean 'authlogin_nsswitch_use_ldap'
allow ssh_keygen_t cert_t:file { open read };
allow ssh_keygen_t security_t:filesystem getattr;
allow ssh_keygen_t self:capability { dac_override dac_read_search };
allow ssh_keygen_t selinux_config_t:dir search;
allow ssh_keygen_t var_run_t:dir { add_name write };
allow ssh_keygen_t var_run_t:file { create ioctl open write };

#============= sshd_t ==============

#!!!! This avc can be allowed using the boolean 'ssh_sysadm_login'
allow sshd_t unconfined_t:process transition;
allow sshd_t unconfined_t:process { noatsecure rlimitinh siginh };
allow sshd_t unlabeled_t:dir search;
allow sshd_t var_log_t:file append;
allow sshd_t var_run_t:file { getattr open read };
allow sshd_t xdm_var_run_t:file { open read };

#============= system_dbusd_t ==============
allow system_dbusd_t NetworkManager_t:process { noatsecure rlimitinh siginh };
allow system_dbusd_t policykit_t:process { noatsecure rlimitinh siginh };
allow system_dbusd_t var_log_t:file { append ioctl };
allow system_dbusd_t bin_t:file execute;
allow system_dbusd_t systemd_logind_exec_t:file execute;
allow system_dbusd_t event_device_t:chr_file { read write };

#============= systemd_logind_t ==============

#!!!! This avc can be allowed using the boolean 'systemd_logind_get_bootloader'
allow systemd_logind_t boot_t:dir { getattr search };
allow systemd_logind_t cgroup_t:dir { add_name create read relabelfrom relabelto remove_name rmdir write };
allow systemd_logind_t cgroup_t:file write;
allow systemd_logind_t init_t:dbus send_msg;
allow systemd_logind_t proc_psi_t:dir search;
allow systemd_logind_t proc_psi_t:file { getattr open read };
allow systemd_logind_t self:capability { fsetid net_admin };
allow systemd_logind_t systemd_machined_runtime_t:dir create;
allow systemd_logind_t var_log_t:file { append ioctl };
allow systemd_logind_t var_run_t:file { create ioctl open read rename setattr unlink write };

## things for tty login

require {
	type xdm_var_run_t;
	type unlabeled_t;
	type local_login_t;
	type unconfined_t;
	type fsadm_exec_t;
	type gkeyringd_exec_t;
	type mount_exec_t;
	type var_run_t;
	type fixed_disk_device_t;
	type xserver_log_t;
	class dir { getattr search write };
	class file { execute ioctl read write };
	class blk_file getattr;
	class capability net_admin;
	class process { noatsecure rlimitinh siginh };
}

#============= local_login_t ==============
allow local_login_t fixed_disk_device_t:blk_file getattr;
allow local_login_t fsadm_exec_t:file execute;
allow local_login_t gkeyringd_exec_t:file execute;
allow local_login_t mount_exec_t:file execute;
allow local_login_t self:capability net_admin;
allow local_login_t unconfined_t:process { noatsecure rlimitinh siginh };
allow local_login_t unlabeled_t:dir { getattr search };
allow local_login_t var_run_t:dir write;
allow local_login_t xdm_var_run_t:file { read write };
allow local_login_t xserver_log_t:file ioctl;
## -end tty login

#============= udev_t ==============
allow udev_t sysctl_vm_t:dir search;
allow udev_t sysctl_vm_t:file { getattr write };
allow udev_t sysfs_t:file setattr;
allow udev_t usr_t:file { execute execute_no_trans };
allow udev_t var_run_t:dir create;
allow udev_t var_run_t:file { create getattr ioctl open read unlink write };

#####

require {
	type bin_t;
	type system_dbusd_t;
	type systemd_logind_exec_t;
	type dri_device_t;
	class chr_file { read write };
	class file { open read };
}

#============= system_dbusd_t ==============
allow system_dbusd_t bin_t:file { open read };
allow system_dbusd_t dri_device_t:chr_file { read write };
allow system_dbusd_t systemd_logind_exec_t:file { open read };

#####


# flatpak install 
#============= mount_t ==============
allow mount_t tmp_t:lnk_file read;
######


## blocaled
require {
	type systemd_locale_exec_t;
	type system_dbusd_t;
	class file { execute execute_no_trans open read };
}

#============= system_dbusd_t ==============
allow system_dbusd_t systemd_locale_exec_t:file { execute execute_no_trans open read };

###


## misc

require {
	type power_profilesd_t;
	type sysfs_t;
	type unconfined_t;
	type mount_t;
	type devicekit_var_lib_t;
	type systemd_logind_t;
	class dir { create watch };
	class capability sys_resource;
	class io_uring allowed;
}

#============= mount_t ==============
allow mount_t devicekit_var_lib_t:dir create;

#============= power_profilesd_t ==============
allow power_profilesd_t sysfs_t:dir watch;

#============= systemd_logind_t ==============
allow systemd_logind_t self:capability sys_resource;
###


### needed w/o /run/systemd
require {
	type systemd_logind_exec_t;
	type system_dbusd_t;
	type var_run_t;
	type systemd_logind_t;
	class dir create;
	class file execute_no_trans;
}

#============= system_dbusd_t ==============
allow system_dbusd_t systemd_logind_exec_t:file execute_no_trans;

#============= systemd_logind_t ==============
allow systemd_logind_t var_run_t:dir create;
### 

### no idea why it's now needed
require {
	type hostname_t;
	type bin_t;
	class dir search;
	class file execute;
}

#============= hostname_t ==============
allow hostname_t bin_t:dir search;
allow hostname_t bin_t:file execute;
###
